[build]
target = "xtensa-esp32s3-espidf"

[target.xtensa-esp32s3-espidf]
linker = "ldproxy"
runner = "espflash flash --erase-parts otadata --monitor --port /dev/ttyACM0 --before no-reset"
rustflags = [ "--cfg",  "espidf_time64"]

[unstable]
build-std = ["std", "panic_abort"]

[env]
MCU="esp32s3"
# Note: this variable is not used by the pio builder (`cargo build --features pio`)
ESP_IDF_VERSION = "v5.3.3"
# Copy partitions.csv into the esp-idf-sys cmake build output directory
ESP_IDF_GLOB_PARTS_BASE = { value = ".", relative = true }
ESP_IDF_GLOB_PARTS_CSV = "partitions.csv"

